@import 'bootstrap-vars';

//fonts
$base-font: 'walsheim', sans-serif;

//colors

$dark: #000;
$white: #fff;
$red: #E83D3A;
$light-gray: #F3F3F3;
$text-color: #2B2B2B;
$text-light: #C4C4C4;

$fb-color: #365E9D;
$pin-color: #CB1E26;
$inst-color: #DD2977;

$primary: $red;

//animation

$transition: all 0.3s;
